body {
    overflow-x: hidden;
}

.navbar-brand span {
    padding-left: 24px;
    font-size: 1.1em;
    line-height: 2.2;
}

.panel {
    border-radius: 0;
}

.panel-menu ul {
    list-style: none;
    padding-left: 0;
    line-height: 1.8;
}

.panel-menu li {
    display: block;
}

.panel-menu li a {
    display: block;
    text-decoration: none;
    padding: 6px 12px;
    border-radius: 3px;
}

@media(max-width: 990px) {
    .panel-menu li {
        display: inline-block;
    }
}

.panel-menu li a:hover {
    background-color: #f7f7f7;
}

.footer {
    width: 100%;
    height: 50px;
    margin-top: 32px;
    padding-top: 32px;
    text-align: center;
    color: #666;
    background-color: #f7f7f7;
    min-height: 124px;
}
